extends ../layouts/default

block content
	div.jumbotron#homepage: .container
		h2 The Best Way To Communicate <br> With Your Ministry Partners.
		p Communicate regularly with your ministry partners, and save yourself hours and hours from <br> printing, folding, sealing and stamping your letter each month!						 
		a.btn.btn-primary.btn-pls-w(href='/order', role='button') START ORDER NOW!
	.row.clearfix.gray
		.container
			.row
				.col-lg-4.col-md-4.col-sm-4.col-xs-12.text-center
					p.check 98% Customer Satisfaction Rating
				.col-lg-4.col-md-4.col-sm-4.col-xs-12.text-center
					p.check Trusted by 850+ delighted customers
				.col-lg-4.col-md-4.col-sm-4.col-xs-12.text-center
					p.check Over 25 years experience in the business
	.container.p0
		.row.text-center
			h1.h
		.container
			.col-lg-4.col-md-4.col-sm-4.col-xs-12.c
				.row
					.col-lg-9.col-md-9.col-sm-9.col-xs-12
						.box.b1
							span.badge 1				
					.col-lg-3.col-md-3.col-sm-3.hidden-xs
						.arrow
				.row
					.col-lg-12.col-md-12.col-sm-12
						h4.imgc Step 1
						p Register to create an account. You may upload your mailing list at this time, unless you will be including an updated copy of the list with each order. You’ll find more information about the mailing list options here. There is a $15 set up fee charge with your first order only. 
			.col-lg-4.col-md-4.col-sm-4.col-xs-12.c
				.row
					.col-lg-9.col-md-9.col-sm-9
						.box.b2
							span.badge 2				
					.col-lg-3.col-md-3.col-sm-3.hidden-xs
						.arrow
				.row
					.col-lg-12.col-md-12.col-sm-12
						h4.imgc Step 2
						p Send us your order. Login to your account to choose your paper &amp; printing options, attach your letter file and click “send.” You may send your order to us at any time and we will get your letters in the mail two business days later.  There is a $2 processing fee for each order, which covers printing a copy of your letter &amp; the order form, proofreading your letter, making any necessary address corrections and setting up the files to print your envelopes and the letters.
			.col-lg-4.col-md-4.col-sm-4.col-xs-12.c
				.row
					.col-lg-9.col-md-9.col-sm-9
						.box.b3
							span.badge 3
					.col-lg-3.col-md-3.col-sm-3
						.arrow.hidden-arrow
						div.clearfix
				.row
					.col-lg-12.col-md-12.col-sm-12
						h4.imgc Step 3
						p Within several weeks you will receive an invoice for your order. If you are on staff with Cru, payment will be made through electronic transfer. If you are with another organization, we ask you to pay the invoice by check.
	section.spacer
	.jumbotron#testimonials: .container.testimonial
		h1 Kind Words From Our Awesome Customers
		div.row
			.col-lg-4.col-md-4.col-ms-4.col-xs-6
				div.info.row
					.col-md-3: .portrait: img(src='/images/krima.jpeg')
					.col-md-9
						h3 By Dina Krull
				div.quote “We have used this service for 20 years and are completely satisfied. They have accommodated various needs of ours with inserts and some very unique letter types. We've sent table top letters needing folding, calendars, gift inserts, etc. They have never denied our requests and their emails are timely and helpful.”
			.col-lg-4.col-md-4.col-ms-4.col-xs-6
				div.info.row
					.col-md-3: .portrait: img(src='/images/brittaSkalman.jpeg')
					.col-md-9
						h3 Britta Skalman
				div.quote “I am a huge advocate for the Prayer Letter Service! I have used it since beginning full time ministry 9 years ago and have never regretted signing up. They are so helpful and do quality work! I am so grateful for their service to me and God's Kingdom. It is such a blessing to spend that time doing ministry on campus rather than stuffing my letters every month!”
			.col-lg-4.col-md-4.col-ms-4.col-xs-12
				div.info.row
					.col-md-3: .portrait: img(src='/images/leeWatkins.jpeg')
					.col-md-9
						h3 Lee Watkins 
				div.quote “The Prayer Letter Service is awesome.  I've always enjoyed writing our prayer letter.  But before PLS I would put it off for days and weeks because of the time I knew it was going to take to fold, stuff, address, seal, stamp, send.  Blah!  But now, the process is so easy. I love the feeling of writing a prayer letter I'm pleased with, loading it up to PLS, hitting "send," and being done! I know that in less than a week my partners will get a letter from us that looks great and saved me time and energy.”
	.container.our-service
		h1.service
		.col-lg-4.col-md-4.col-ms-4.col-xs-12
			.row
				.col-lg-3.col-md-3.col-sm-3.col-xs-12
					div.icon-letter
				.col-lg-9.col-md-9.col-sm-9.col-xs-12
					h3 Prayer Letters
			.row
				.col-lg-12.col-md-12.col-sm-12.col-xs-12
					p Communicate with your ministry partners with a one-sided, color letter for as little as $.97/letter.
		.col-lg-4.col-md-4.col-ms-4.col-xs-12
			.row
				.col-lg-3.col-md-3.col-sm-3.col-xs-12
					div.icon-postcards
				.col-lg-9.col-md-9.col-sm-9.col-xs-12
					h3 Postcards
			.row
				.col-lg-12.col-md-12.col-sm-12.col-xs-12
					p Postcards can be printed in color or black &amp; white on several different colors of cardstock.
		.col-lg-4.col-md-4.col-ms-4.col-xs-12
			.row
				.col-lg-3.col-md-3.col-sm-3.col-xs-12
					div.icon-funds
				.col-lg-9.col-md-9.col-sm-9.col-xs-12
					h3 Fund Appeals
			.row
				.col-lg-12.col-md-12.col-sm-12.col-xs-12
					p Send a fund appeal any time during the year. We can help with all or parts of the process.
	.container.button-info
		.row
			.col-lg-6.p1
				a(class="btn btn-primary col-lg-6 btn-pls-blue f-right") SEE ALL SERVICES
			.col-lg-6.p1
				a(class="btn btn-primary col-lg-6 btn-pls-white f-left") START ORDER NOW