extends ../layouts/default

block content
	div.jumbotron#homepage
		h2 The Best Way To Communicate With Your Ministry Partners.
		p.hidden-xs Communicate regularly with your ministry partners, and save you hours and hours from printing, folding, sealing and stamping your letter each month!						 
		a.btn.btn-lg.btn-primary.btn-pls-w(href='#', role='button') START ORDER NOW!
	.row.clearfix.gray
		.container
			.row
				.col-lg-4.text-center				
					p.check xx% Customer Satisfaction Rating
				.col-lg-4.text-center
					p.check Trusted by 0,000+ delighted customers
				.col-lg-4.text-center
					p.check Most experienced provier in the business
	.container.p0
		.row.text-center
			h1.h
		.container
			.container
				.col-lg-4.c
					.row
						.col-lg-9.col-xs-12
							.box.b1
								span.badge 1				
						.col-lg-3.hidden-xs
							.arrow
					.row
						.col-lg-12
							h4.imgc Step1
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad 
				.col-lg-4.c
					.row
						.col-lg-9
							.box.b2
								span.badge 2				
						.col-lg-3.hidden-xs
							.arrow
					.row
						.col-lg-12
							h4.imgc Step2
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
				.col-lg-4.c
					.row
						.col-lg-9
							.box.b3
								span.badge 3
						.col-lg-3
							.arrow.hidden-arrow
					.row
						.col-lg-12
							h4.imgc Step3
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad 
	.carousel.testimonials(data-ride='carousel')
		.carousel-inner
			.item.active			
				.container.testimonial
					h1 Kind Words From Our Awesome Customers					
					.col-lg-4
						.row
							.col-lg-3
								img(src='images/pic-user.png')
							.col-lg-9
								h3 Jhon Deed
								span Co-Fundation media
								p Lorem ipsum dolor sit amet, cididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam  laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit essecillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia 							

					.col-lg-4.col-xs-12.hidden-sm.hidden-xs
						.row
							.col-lg-3
								img(src='images/pic-user.png')
							.col-lg-9
								h3 Jhon Deed
								span Co-Fundation media
								p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam								
					.col-lg-4.hidden-sm.hidden-xs
						.row
							.col-lg-3
								img(src='images/pic-user.png')
							.col-lg-9
								h3 Jhon Deed
								span Co-Fundation media
								p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
	.container
		.container.our-service
			h1.service
			.col-lg-4
				.row
					.col-lg-3
						img(src='images/s1.png')
					.col-lg-9
						h3 Future One
				.row
					.col-lg-12
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim officia 													
			.col-lg-4
				.row
					.col-lg-3
						img(src='images/s2.png')
					.col-lg-9
						h3 Feature Two
				.row
					.col-lg-12
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam														
			.col-lg-4
				.row
					.col-lg-3
						img(src='images/s3.png')
					.col-lg-9
						h3 Feature Three
				.row
					.col-lg-12
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam						
		.container.mtop50.mbottom50
			.row
				.col-lg-6.p1
					a(class="btn btn-primary col-lg-6 btn-pls-blue f-right") SEE ALL SERVICES
				.col-lg-6.p1
					a(class="btn btn-primary col-lg-6 btn-pls-white f-left") START ORDER NOW

