extends ../layouts/default

block content
	div.jumbotron#homepage: .container
		h2 The Best Way To Communicate <br> With Your Ministry Partners.
		p Communicate regularly with your ministry partners, and save yourself hours and hours from <br> printing, folding, sealing and stamping your letter each month!						 
		a.btn.btn-lg.btn-primary.btn-pls-w(href='#', role='button') START ORDER NOW!
	.row.clearfix.gray
		.container
			.row
				.col-lg-4.text-center				
					p.check xx% Customer Satisfaction Rating
				.col-lg-4.text-center
					p.check Trusted by 0,000+ delighted customers
				.col-lg-4.text-center
					p.check Most experienced provier in the business
	.container.p0
		.row.text-center
			h1.h
		.container
			.container
				.col-lg-4.c
					.row
						.col-lg-9.col-xs-12
							.box.b1
								span.badge 1				
						.col-lg-3.hidden-xs
							.arrow
					.row
						.col-lg-12
							h4.imgc Step1
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad 
				.col-lg-4.c
					.row
						.col-lg-9
							.box.b2
								span.badge 2				
						.col-lg-3.hidden-xs
							.arrow
					.row
						.col-lg-12
							h4.imgc Step2
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
				.col-lg-4.c
					.row
						.col-lg-9
							.box.b3
								span.badge 3
						.col-lg-3
							.arrow.hidden-arrow
					.row
						.col-lg-12
							h4.imgc Step3
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
	section.spacer
	.jumbotron#testimonials: .container.testimonial
		h1 Kind Words From Our Awesome Customers
		div.row
			.col-lg-4
				div.info.row
					.col-md-3: .portrait: img(src='https://s3.amazonaws.com/uifaces/faces/twitter/teclaro/128.jpg')
					.col-md-9
						h3 John Doe
						small CEO, Theory+Practice
				div.quote “Donec euismod turpis id ullamcorper lobortis. Maecenas faucibus ipsum sem, sed consequat ante consectetur non. Nam at neque dui. Integer id risus sit amet justo varius semper quis ut enim.”
			.col-lg-4
				div.info.row
					.col-md-3: .portrait: img(src='https://s3.amazonaws.com/uifaces/faces/twitter/brad_frost/128.jpg')
					.col-md-9
						h3 John Doe
						small CEO, Theory+Practice
				div.quote “Donec euismod turpis id ullamcorper lobortis. Maecenas faucibus ipsum sem, sed consequat ante consectetur non. Nam at neque dui. Integer id risus sit amet justo varius semper quis ut enim.”
			.col-lg-4
				div.info.row
					.col-md-3: .portrait: img(src='https://s3.amazonaws.com/uifaces/faces/twitter/suprb/128.jpg')
					.col-md-9
						h3 John Doe
						small CEO, Theory+Practice
				div.quote “Donec euismod turpis id ullamcorper lobortis. Maecenas faucibus ipsum sem, sed consequat ante consectetur non. Nam at neque dui. Integer id risus sit amet justo varius semper quis ut enim.”
	.container
		.container.our-service
			h1.service
			.col-lg-4
				.row
					.col-lg-3
						img(src='images/s1.png')
					.col-lg-9
						h3 Future One
				.row
					.col-lg-12
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim officia 													
			.col-lg-4
				.row
					.col-lg-3
						img(src='images/s2.png')
					.col-lg-9
						h3 Feature Two
				.row
					.col-lg-12
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam														
			.col-lg-4
				.row
					.col-lg-3
						img(src='images/s3.png')
					.col-lg-9
						h3 Feature Three
				.row
					.col-lg-12
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam						
		.container.mtop50.mbottom50
			.row
				.col-lg-6.p1
					a(class="btn btn-primary col-lg-6 btn-pls-blue f-right") SEE ALL SERVICES
				.col-lg-6.p1
					a(class="btn btn-primary col-lg-6 btn-pls-white f-left") START ORDER NOW

