extends ../layouts/default

block content
	.carousel.slide(data-ride='carousel')
		.carousel-inner
			.item.active
				img(src='images/main.png', alt='Third slide')
				.container
					.carousel-caption
						h1 The Best Way To Communicate With Your Ministry Partners.
						p.hidden-xs Communicate regularly with your ministry partners, and save you hours and hours from printing, folding, sealing and stamping your letter each month!						 
						p
							a.btn.btn-lg.btn-primary(href='#', role='button') START ORDER NOW!
	.row.clearfix.gray
		.container
			.row
				.col-lg-4.text-center
					p.check xx% Customer Satisfaction Rating
				.col-lg-4.text-center
					p.check Trusted by 0,000+ delighted customers
				.col-lg-4.text-center
					p.check Most experienced provier in the business
	.container
		.row.text-center
			h1.h
		.row
			.col-lg-4.c
				.jumbotron
					span.badge 1					
					img(src='images/a1.png',class='img-responsive')
				.arrow
			.col-lg-4.c
				.jumbotron
					span.badge 2
					img(src='images/a2.png',class='img-responsive')					
				.arrow
			.col-lg-4.c
				.jumbotron
					span.badge 3
					img(src='images/a3.png',class='img-responsive imgc')							