extends ../layouts/default

block content
	.jumbotron#options: .container
		h1 You’ve Got Options!
		p.small Your communications should be as unique as you are!
	.container.mtop50
		.row
			.col-md-3
				.tabs-left
					ul.tabs#tabs
						li.tab(href="#yourMailingList",data-toggle="tab"): a(href="#")
							i.icon-mailingList
							|YOUR MAILING LIST
						li.tab(href="#gettingYourLetterToUs",data-toggle="tab"): a(href="#") 
							i.icon-plane
							|GETTING YOUR LETTER TO US
						li.tab.active(href="#discounts",data-toggle="tab"): a(href="#") 
							i.icon-discount
							|DISCOUNTS
						li.tab(href="#paperEnvelopes",data-toggle="tab"): a(href="#")
							i.icon-letter
							|PAPER &amp; ENVELOPES
						li.tab(href="#insert",data-toggle="tab"): a(href="#")
							i.icon-envelope
							|INSERTS
			.col-md-9
				.row
					.jumbotron.tab-content.p1
						div.tab-pane.fade#yourMailingList
							h1 Your Mailing List
							p We offer you several options for maintaining your mailing list.  You may send your initial mailing list to us in the format you’re most comfortable with.
							ul
								li.
									Send us an updated copy of your entire mailing list with each letter. Upload the data from your favorite MPD software directly to our website or email the file to us. When there are no changes on your database, just let us know we should use the most recent file you've sent. 
									<br>
									<br>
									<strong>Requirements:</strong> With this option we encourage you to use your own return address to ensure all address changes reach you directly.  We will not make any changes on your mailing list.  If you are overseas, it is fine to use the PLS return address.
								br
								li.
									Maintain your mailing list on-line through the PLS website.  This option allows both the Prayer Letter Service and you to make changes to the mailing list on-line through the PLS website. You can make mailing list changes directly on the mailing list rather than emailing them to us.  We will make any changes received in our office on the same on-line mailing list.  
									<br>
									<br>
									<strong>Requirements:</strong> You may use either your own return address or the PLS return address.  Be sure to make any changes before sending us an order to process as we print your envelopes from this mailing list shortly after receiving your order.
								br
								li.
									PLS will maintain your mailing list for you in Access on our computer.  Once we receive your initial mailing list, we will type in all changes, deletions and additions for you.  You will need to email us the changes for your mailing list.  
									<br>
									<br>
									<strong>Requirements:</strong> You may use either your own return address or the PLS return address.  We will update your mailing list, with all the changes you have given us, prior to printing your envelopes, as we process your order.
							p While we ask that you choose one of these options and then stick with the requirements, you may change your mind and switch to a different option that fits your needs.
							p With each option you are still welcome to send a special mailing list for a fund appeal or a Christmas letter, for example.  
							p We’re more than happy to discuss these options with you or answer any questions in helping you make the best choice for your individual situation.
							h3 ADDRESS SERVICE REQUESTED
							p Every other month we include the phrase "Address Service Requested" on your envelopes which instructs the post office to send us forwarding addresses.  The post office charges us 57 cents for these corrections.  If you use our return address on your mailing envelopes, we receive these postcards and automatically make the updates on your mailing list. 

							p If PLS is maintaining your mailing list we will email this information on to you so you'll have a record of the addresses we've changed on your mailing list.  We'll add the cost of these corrections to your monthly invoice as postage due.

							p If an envelope is returned with no forwarding address, we will delete that name and address from your mailing list.  We'll be sure to email you this information in the hope you can track down a new address and add this ministry partner to your mailing list again.  

							p If you have your own return address on your envelopes, you will receive these postcards and will be responsible to pay the postage due.  If PLS maintains your mailing list you will then need to pass the new address on to us so we can update the information.

							h3 MULTIPLE MAILING LISTS

							p We are happy to maintain multiple mailing lists for you, if you have a select group of people whom you send your letters to less than monthly.
							br
							a.btn.btn-lg.btn-success(href='/order', role='button') START YOUR ORDER NOW!
						div.tab-pane.fade#gettingYourLetterToUs
							h1 Getting Your Letter To Us
							h3 There are several options for getting your letter to us:
							ol
								li You may upload your letter through our website. You will be able to fill out an online form, attach your letter, include your mailing list and send it all to us with one click of the mouse. This will be your best option for getting a large file to us.
								li You may email your letter to us as an attachment. Please include the information from the Monthly Order Form in the text of your email message or attach the completed form to your email. You may also attach a copy of your mailing list, if you are sending that to us with each order.
								li You may use whatever means works the best for you. Feel free to share your file on Google Drive, Dropbox, or any other format you're comfortable with.
							a.btn.btn-lg.btn-success(href='/order', role='button') START YOUR ORDER NOW!
						div.tab-pane.fade.in.active#discounts
							h1 Discounts
							p The Prayer Letter Service offers a discounted postage rate with non-profit postage for Cru staff members.  This option gives you a discount of $.15 cents per letter.  That’s a savings of $15 for 100 letters.
							p To provide this discount you are required to follow several guidelines.  As our non-profit status is under the umbrella of Campus Crusade for Christ, Itnl. all non-profit mailings must:						
							ol(type="1")
								li Include the name 'CRU' on the mailing envelope, along with the 'PLS' return address								
								li Include 'Address Service Requested' on each envelope under the return address
								li Include the name 'CRU' somewhere on the letter
							p You are welcome to use the logo of your ministry on the envelopes and your letter.  We include a tag line on the front of the envelope with your name, so your supporters know the letter is from you.
							p Please send us your non-profit postage order by Wednesday.  We process all of the non-profit postage orders each Friday morning.  Once we have processed the letters they go to a presort center where they are sorted before entering the postal system.  
							p Once in the postal system the non-profit postage letters may take up to two weeks to be delivered.  However, the tracking we have done over the years has led us to believe your letters are treated as 1st class mail once they reach the post office.  Expect this postage option to take about a week longer than first class postage.
							p We must have a minimum of 200 letters to send a batch to the presort center.  We often have several orders to process each Friday, so the total is over 200.  However, there may be a week when we do not have 200 letters and we will need to contact you to choose another option.
							a.btn.btn-lg.btn-success(href='/order', role='button') START YOUR ORDER NOW!
						div.tab-pane.fade#paperEnvelopes
							h1 Paper &amp; Envelopes
							p We have many different colors & types of paper and envelopes to choose from.
							p The Opaque, Astrobright, Astroparche, and Royal Fiber papers are included in the basic cost of your letter. There is an additional charge for the Classic Linen papers.  Many of the available papers have matching envelopes for an additional cost.
							p The Opaque papers come in the following pastel colors: Orchid, Ivory, Cream, Gold, Yellow, Green, Blue, White, Gray, Pink and Tan.  We offer matching envelopes for each color.
							p The Astrobright papers come in the following neon colors: Venus Violet, Celestial Blue, Lunar Blue, Pulsar Pink, Cosmic Orange, Rocket Red, Re-entry Red, Solar Yellow, Fireball Fushcia, Gamma Green, Lift-off Lemon, Martian Green, and Terrestial Teal.  We offer matching envelopes for all colors except Rocket Red and Lift-Off Lemon.
							p The Astroparche papers come in the following pastel colors: Blue, Gray, Sand, Natural, and White. We offer matching envelopes for the Blue, Natural and White colors.
							p The Royal Fiber papers come in the following colors: Rose, Ice Blue, Cream, White, Sunflower, and Thyme.  We offer matching envelopes for the Cream and Sunflower colors.
							p The Classic Linen papers come in the following colors: Natural White, Avon Brilliant White, Antique Gray, Bluestone, Sage Green, and Haviland Blue.  We offer matching envelopes for all colors except Bluestone and Haviland Blue.
							p We also offer white 6 x 9 envelopes which are perfect for a letter folded in half.  We offer white invitation size envelopes which are perfect for a letter folded in fourths.
							p We offer Cougar white paper which is a little heavier and brighter.
						div.tab-pane.fade#insert
							h1 Insert
							p We can insert prayer cards, flyers, response cards/envelopes, photos; really, anything you come up with, with your letters.
							p Inserts meeting these requirements usually require no additional postage:
							ul
								li It must fits smoothly in an envelope no larger than 6” x 9 1/2”.
								li The total weight of the envelope does not exceed 1 ounce.
								li The envelope is not rigid; it can still bend through the machines at the post office.
							p Inserts not meeting these requirements are still workable; they just require additional postage, and larger envelopes or padded envelopes.  We are happy to hand insert an item for an additional $.03 per letter.
							p We can often greatly reduce the cost of postage by mailing these larger envelopes at a non-profit or bulk rate.  You’ll find more information about this option in Discounts.
							p We stock the Cru giving envelopes at the Prayer Letter Service.  We are able print your name and account number on these for you.  We can also print #9 envelopes with any mailing address you choose.  We can stamp either envelope with first class postage.
							p We're happy to help you figure out how to include any type of insert (tapes, books, pens, etc.).  If you have a creative idea, feel free to contact us.							
	section.spacer
block js
	script(type='text/javascript')
		$(function() { $('#tabs li a').click(function (e) { e.preventDefault(); $(this).tab('show');});});