extends ../layouts/default

block content
	.jumbotron#options: .container
		h1 You’ve Got Options!
		p.small Your communications should be as unique as you are!
	.container.mtop50
		.row
			.col-md-3
				.tabs-left
					ul.tabs#tabs
						li.tab.icon-printing(href="#printing",data-toggle="tab"): a(href="#") PRINTING
						li.tab.icon-postcards(href="#postCards",data-toggle="tab"): a(href="#") POSTCARDS &amp; BORCHURES
						li.tab.icon-discounts.active(href="#discounts",data-toggle="tab"): a(href="#") DISCOUNTS
						li.tab.icon-fund(href="#fundAppeals",data-toggle="tab"): a(href="#") FUND APPEALS
						li.tab.icon-envelope(href="#paperEnvelopes",data-toggle="tab"): a(href="#") PAPER &amp; ENVELOPES
						li.tab.icon-christmas(href="#christmas",data-toggle="tab"): a(href="#") CHRISTMAS &amp; SPECIALTY PAPER
						li.tab.icon-insert(href="#insert",data-toggle="tab"): a(href="#") INSERTS
			.col-md-9
				.row
					.jumbotron.tab-content.p1
						div.tab-pane.fade#printing
							h1 Printing
							span.sub Sed do eiusmod tempor incididunt ut labore et dolore
							h3 Consectetur adipisicing elit, sed do
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
							h3 Consectetur adipisicing elit, sed do
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
							h3 Consectetur adipisicing elit, sed do
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
							h3 Consectetur adipisicing elit, sed do
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
						div.tab-pane.fade#postCards
							h1 Postcards &amp; Borchures
							span.sub Sed do eiusmod tempor incididunt ut labore et dolore
							h3 Consectetur adipisicing elit, sed do 
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
						div.tab-pane.fade.in.active#discounts
							h1 Discounts
							span.sub Not-for-profit postage
							h3 SENDING LETTERS FOR YOUR CAMPUS OR MINISTRY
							p The Prayer Letter Service offers a discounted postage rate with non-profit postage for Cru staff members.  This option gives you a discount of $.15 cents per letter.  That’s a savings of $15 for 100 letters.
							p To provide this discount we are required to follow several guidelines.  As our non-profit status is under the umbrella of Campus Crusade for Christ, Itnl. all non-profit mailings must:						
							ol(type="1")
								li Have the name ‘Campus Crusade for Christ’ on the mailing envelope, along with our return address								
								li Use ‘Address Service Requested’ on each envelope
								li Have the name ‘Campus Crusade for Christ’ on the letter
							p You are welcome to use the logo of your ministry on the envelopes and your letter.  We include a tag line on the front of the envelope with your name, so your supporters know the letter is from you.
							p Please send us your non-profit postage order by Wednesday.  We process all of the non-profit postage orders each Friday morning.  Once we have processed the letters they go to a presort center where they are sorted before entering the postal system.  
							p Once in the postal system the non-profit postage letters may take up to two weeks to be delivered.  However, the tracking we have done over the years has led us to believe your letters are treated as 1st class mail once they reach the post office.  Expect this postage option to take about a week longer than first class postage.
							p We must have a minimum of 200 letters to send a batch to the presort center.  We often have several orders to process each Friday, so the total is over 200.  However, there may be a week when we do not have 200 letters and we will need to contact you to choose another option.
							a.btn.btn-lg.btn-success(href='/order', role='button') START YOUR ORDER NOW!
						div.tab-pane.fade#fundAppeals
							h1 Fund Appeals
							span.sub Discounts...And Other Ways To Save A Little Bit Of Money
							h3 PRE-PRINTED LETTERS
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit essecillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat nonproident, sunt in culpa qui officia deserunt mollit anim id est laborum.
							h3 PRE-PRINTED LETTERS
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit essecillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat nonproident, sunt in culpa qui officia deserunt mollit anim id est laborum.
						div.tab-pane.fade#paperEnvelopes
							h1 Paper &amp; Envelopes
							h3 Deserunt mollit anim id est laborum.
							p We have many different colors & types of paper and envelopes to choose from.
							p The Opaque, Astrobright, Astroparche, and Royal Fiber papers are included in the basic cost of your letter. There is an additional charge for the Classic Linen papers.  Many of the available papers have matching envelopes for an additional cost.
							p The Opaque papers come in the following pastel colors: Orchid, Ivory, Cream, Gold, Yellow, Green, Blue, White, Gray, Pink and Tan.  We offer matching envelopes for each color.
							p The Astrobright papers come in the following neon colors: Venus Violet, Celestial Blue, Lunar Blue, Pulsar Pink, Cosmic Orange, Rocket Red, Re-entry Red, Solar Yellow, Fireball Fushcia, Gamma Green, Lift-off Lemon, Martian Green, and Terrestial Teal.  We offer matching envelopes for all colors except Rocket Red and Lift-Off Lemon.
							p The Astroparche papers come in the following pastel colors: Blue, Gray, Sand, Natural, and White.  We offer matching envelopes for all colors.
							p The Royal Fiber papers come in the following colors: Rose, Ice Blue, Cream, White, Sunflower, and Thyme.  We offer matching envelopes for the Cream and Sunflower colors.
							p The Classic Linen papers come in the following colors: Natural White, Avon Brilliant White, Antique Gray, Whitestone, Bluestone, Silverstone, Sage Green, and Haviland Blue.  We offer matching envelopes for all colors except Bluestone and Haviland Blue.
						div.tab-pane.fade#christmas
							h1 Christmas &amp; Specialty Paper
							h3 Deserunt mollit anim id est laborum.
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit essecillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat nonproident, sunt in culpa qui officia deserunt mollit anim id est laborum.
						div.tab-pane.fade#insert
							h1 Insert
							h3 Deserunt mollit anim id est laborum.
							p We can insert prayer cards, flyers, response cards/envelopes, photos; really, anything you come up with, with your letters.
							p Inserts meeting these requirements usually require no additional postage:
							ul
								li It must fits smoothly in an envelope no larger than 6” x 9 1/2”.
								li The total weight of the envelope does not exceed 1 ounce.
								li The envelope is not rigid; it can still bend through the machines at the post office.
							p Inserts not meeting these requirements are still workable; they just require additional postage, and larger envelopes or padded envelopes.  We are happy to hand insert an item for an additional $.03 per letter.
							p We can often greatly reduce the cost of postage by mailing these larger envelopes at a non-profit or bulk rate.  You’ll find more information about this option in Discounts.
							p We stock the Cru giving envelopes at the Prayer Letter Service.  We are able print your name and account number on these for you.  We can also print #9 envelopes with any mailing address you choose.  We can stamp either envelope with first class postage.
							p We're happy to help you figure out how to include any type of insert (tapes, books, pens, etc.).  If you have a creative idea, feel free to contact us.							
	section.spacer
block js
	script(type='text/javascript')
		$(function() { $('#tabs li a').click(function (e) { e.preventDefault(); $(this).tab('show');});});