extends ../layouts/default

block content
	.jumbotron#pricing: div.container: div.row: div.col-sm-8.col-sm-offset-2
		h1 Exceptional Service <br>At The Best Value.
	section.spacer
	div.container
		div.row#pricing: div.col-sm-8.col-sm-offset-2
			h4.section-header Cost Calculation Summary
			p.
				We realize for many of you the bottom line is, “So what is this going to cost me?”
			p.
				You'll find the most commonly used options in the quick reference section.  Or if you like to have all the details, just keep reading. We’ve got those too.
			section.spacer
			h4.section-header Quick Reference
			.container-fluid
				section.table-responsive
					p.bold The cost for an 8 1/2 x 11 letter printed on Opaque, Astrobright, Astroparch, or Royal Fiber paper, mailed in a white envelope, with first class postage:
					table.table.borderless
						tr
							th(colspan="5") Options
							th(colspan="1") One-Sided
							th(colspan="1") Two-Sided
						tr
							td(colspan="5") 1. Color Printer
							td(colspan="1") $.97/letter
							td(colspan="1") $1.10/letter
						tr
							td(colspan="5") 2. Black &amp; White Printer
							td(colspan="1") $.88/letter
							td(colspan="1") $.92/letter
						tr(style="visibility: hidden;")
							td Dummy.
							td Dummy.
							td Dummy.
							td Dummy.
							td Dummy.
							td Dummy.
							td Dummy.
							td Dummy.
							td Dummy.
				section.table-responsive
					p.bold The cost for an 11 x 17 letter (booklet) on white paper, in a white envelope, with first class postage:
					table.table.borderless
						tr
							th(colspan="5") Options
							th(colspan="1") Price
						tr
							td(colspan="5") Color printer
							td(colspan="1") $1.42/letter
							td(col)
						tr
							td(colspan="5") Black & white printer
							td(colspan="1") $1.06/letter
						tr(style="visibility: hidden;")
							td Dummy.
							td Dummy.
							td Dummy.
							td Dummy.
							td Dummy.
							td Dummy.
							td Dummy.
							td Dummy.
							td Dummy.
				section.table-responsive
					p.bold The average cost for a postcard with a photo on one side and text on the other, printed on white cardstock, including hand stamping (4 per sheet), plus a $2 minimum cutting fee:
					table.table.borderless
						tr
							th(colspan="5") Options
							th(colspan="1") Price
						tr
							td(colspan="5") 1. Both sides in color
							td(colspan="1") $.70/postcard
							td(col)
						tr
							td(colspan="5") 2. Both sides in color, the text in B&amp;W
							td(colspan="1") $.64/postcard
						tr
							td(colspan="5") 3. Both sides in B&amp;W
							td(colspan="1") $.62/postcard
						tr(style="visibility: hidden;")
							td Dummy.
							td Dummy.
							td Dummy.
							td Dummy.
							td Dummy.
							td Dummy.
							td Dummy.
							td Dummy.
							td Dummy.
				section.table-responsive
					p.bold The cost for a color, two-sided brochure, folded:
					table.table.borderless
						tr
							th(colspan="5") Options
							th(colspan="1") Price
						tr
							td(colspan="5") Glossy paper
							td(colspan="1") $.46/brochure
							td(col)
						tr
							td(colspan="5") Non-glossy paper
							td(colspan="1") $.44/brochure
						tr(style="visibility: hidden;")
							td Dummy.
							td Dummy.
							td Dummy.
							td Dummy.
							td Dummy.
							td Dummy.
							td Dummy.
							td Dummy.
							td Dummy.
				section.table-responsive
					p.bold The average cost for a one-sided, mail-merged letter printed on Opaque paper, mailed in a matching envelope, including a response envelope and response slip:
					table.table.borderless
						tr
							th(colspan="5") Options
							th(colspan="1") Price
						tr
							td(colspan="5") Color printer
							td(colspan="1") $1.28/letter
							td(col)
						tr
							td(colspan="5") Black & white printer
							td(colspan="1") $1/16/letter
						tr(style="visibility: hidden;")
							td Dummy.
							td Dummy.
							td Dummy.
							td Dummy.
							td Dummy.
							td Dummy.
							td Dummy.
							td Dummy.
							td Dummy.							
				section.table-responsive
					p.bold The cost for Christmas/holiday cards; including addressing the envelopes, printing a signature and first class postage:
					table.table.borderless
						tr
							th(colspan="5") Options
							th(colspan="1") Price
						tr
							td(colspan="5") Greeting cards
							td(colspan="1") From $.88/card
							td(col)
						tr
							td(colspan="5") Photo cards
							td(colspan="1") From $.80/card
						tr(style="visibility: hidden;")
							td Dummy.
							td Dummy.
							td Dummy.
							td Dummy.
							td Dummy.
							td Dummy.
							td Dummy.
							td Dummy.
							td Dummy.
				section.table-responsive
					p.bold The cost for color printed Thank You cards, folded and inserted, with first class postage:
					table.table.borderless
						tr
							th(colspan="5") Options
							th(colspan="1") Price
						tr
							td(colspan="5") Larger Thank You card
							td(colspan="1") From $1.07/card
							td(col)
						tr
							td(colspan="5") Smaller Thank You cardFrom $1.07/card
							td(colspan="1") From $.98/card
						tr(style="visibility: hidden;")
							td Dummy.
							td Dummy.
							td Dummy.
							td Dummy.
							td Dummy.
							td Dummy.
							td Dummy.
							td Dummy.
							td Dummy.						
			h4.section-header Detailed Lists of Costs
			p If you're interested in all of the details, these are the figures we use when calculating the total cost for mailing your newsletter each month.
			p We begin with the standard charge for each letter. We add the upgrade costs to the basic charge and then multiply the total by the number of letters you send each month.
			p The basic charge includes a letter printed on any of the Opaque, Astrobright, Astroparch or Royal Fiber colors of paper; a standard white mailing envelope; folding and inserting; sealing the envelope and affixing the postage with a 1st class stamp. All additional charges are listed below.
			.container-fluid
				section.table-responsive
					table.table.borderless
						tr
							th(colspan="5") PAPER OPTIONS
							th(colspan="1") UPGRADE PRICE
						tr
							td(colspan="5") 1. Opaque
							td(colspan="1") none
						tr
							td(colspan="5") 2. Astrobright
							td(colspan="1") none
						tr
							td(colspan="5") 3. Royal Fiber
							td(colspan="1") none
						tr
							td(colspan="5") 4. Astroparch
							td(colspan="1") none
						tr
							td(colspan="5") 5. Classic Linen
							td(colspan="1") $.02/letter
						tr
							td(colspan="5") 6. Glossy white
							td(colspan="1") $.02/letter
						tr
							td(colspan="5") 7. Opaque cardstock
							td(colspan="1") $.04/letter
						tr
							td(colspan="5") 8. Astrobright cardstock
							td(colspan="1") $.07/letter
						tr
							td(colspan="5") 9. Glossy white cardstock
							td(colspan="1") $.08/letter
						tr
							td(colspan="5") 10. Legal size paper
							td(colspan="1") $.02/letter
						tr(style="visibility: hidden;")
							td Dummy.
							td Dummy.
							td Dummy.
							td Dummy.
							td Dummy.
							td Dummy.
							td Dummy.
							td Dummy.
							td Dummy.			
				section.table-responsive
					table.table.borderless
						tr
							th(colspan="5") ENVELOPE OPTIONS
							th(colspan="1") UPGRADE PRICE
						tr
							td(colspan="5") 1. Standard White #10
							td(colspan="1") none
						tr
							td(colspan="5") 2. Opaque #10
							td(colspan="1") $.02/letter
						tr
							td(colspan="5") 3. Astrobright #10
							td(colspan="1") $.04/letter
						tr
							td(colspan="5") 4. Royal Fiber #10
							td(colspan="1") $.05/letter
						tr
							td(colspan="5") 5. Astroparche #10
							td(colspan="1") $.04/letter
						tr
							td(colspan="5") 6. Classic Linen #10
							td(colspan="1") $.08/letter
						tr
							td(colspan="5") 7. 6 x 9.5 envelopes
							td(colspan="1") $.09/letter
						tr
							td(colspan="5") 8. 4 x 5 envelopes$.04/letter
							td(colspan="1") $.09/letter										
						tr(style="visibility: hidden;")
							td Dummy.
							td Dummy.
							td Dummy.
							td Dummy.
							td Dummy.
							td Dummy.
							td Dummy.
							td Dummy.
							td Dummy.		
				section.table-responsive
					table.table.borderless
						tr
							th(colspan="5") INSERTS
							th(colspan="1") UPGRADE PRICE
						tr
							td(colspan="5") 1. Response slip 3-per page color
							td(colspan="1") $.09/letter
						tr
							td(colspan="5") 2. Response slip 3-per page b & w
							td(colspan="1") $.06/letter
						tr
							td(colspan="5") 3. Response slip 4-per page color
							td(colspan="1") $.08/letter
						tr
							td(colspan="5") 4. Response slip 4-per page b & w
							td(colspan="1") $.06/letter
						tr
							td(colspan="5") 5. #9 or Cru giving envelopes
							td(colspan="1") $.07/letter
						tr
							td(colspan="5") 6. Folding inserts	
							td(colspan="1") $.01/letter
						tr
							td(colspan="5") 7. Stuffing machineable inserts
							td(colspan="1") $.01/letter
						tr
							td(colspan="5") 8. Stuffing non-machineable inserts
							td(colspan="1") $.03/letter
						tr(style="visibility: hidden;")
							td Dummy.
							td Dummy.
							td Dummy.
							td Dummy.
							td Dummy.
							td Dummy.
							td Dummy.
							td Dummy.
							td Dummy.
				section.table-responsive
					table.table.borderless
						tr
							th(colspan="5") ADDITIONAL PRINTING
							th(colspan="1") UPGRADE PRICE
						tr
							td(colspan="5") 1. Color printing, per side	
							td(colspan="1") $.13/letter
						tr
							td(colspan="5") 2. Black & white printing, per side
							td(colspan="1") $.04/letter
						tr(style="visibility: hidden;")
							td Dummy.
							td Dummy.
							td Dummy.
							td Dummy.
							td Dummy.
							td Dummy.
							td Dummy.
							td Dummy.
							td Dummy.
				section.table-responsive
					table.table.borderless
						tr
							th(colspan="5") POSTAGE
							th(colspan="1") UPGRADE PRICE
						tr
							td(colspan="5") 1. All foreign letters
							td(colspan="1") $.69/letter
						tr
							td(colspan="5") 2. Hand stamping (Christmas,etc.)
							td(colspan="1") $.02/letter
						tr(style="visibility: hidden;")
							td Dummy.
							td Dummy.
							td Dummy.
							td Dummy.
							td Dummy.
							td Dummy.
							td Dummy.
							td Dummy.
							td Dummy.
				section.table-responsive
					table.table.borderless
						tr
							th(colspan="5") ADDITIONAL LABOR
							th(colspan="1") UPGRADE PRICE
						tr
							td(colspan="5") Actual labor (cutting, etc.)(10 min. minimum)
							td(colspan="1") $2.00/10 minutes 
						tr(style="visibility: hidden;")
							td Dummy.
							td Dummy.
							td Dummy.
							td Dummy.
							td Dummy.
							td Dummy.
							td Dummy.
							td Dummy.
							td Dummy.
				section.table-responsive
					table.table.borderless#noMargin
							tr: th Procesing Fee:
							tr: td We charge you a $2 processing fee for each order submitted. This is not multiplied by the number on your database, but a flat fee per order. This covers printing a copy of your letter and order form, proofreading your letter, making any necessary database corrections and setting up the files to print your letters and envelopes.
				section.spacer
				a(href="/order" class="btn btn-success") Start Your Order Now!
			section.spacer