extends ../layouts/default

block content
	.jumbotron#pricing: .container
		h1 Exceptional Service <br>At The Best Value.
		p.small Involve your supporters in your ministry in a powerful way.
	div.container
		h4 Pricing Page
	div.container
		.row
			.jumbotron


