extends ../layouts/default

block content
	.jumbotron#printing: .container
		h1 Serving All Your Ministry <br> Communication Needs
		p.small Involve your supporters in your ministry in a powerful way.
	div.tab-container: .container-fluid
		ul.tabs#tabs
			li.tab.active(href="#prayerLetters",data-toggle="tab"): a(href="#")
				i.icon-letter
				|&nbsp;Prayer Letters
			li.tab(href="#postCards",data-toggle="tab"): a(href="#")
				i.icon-postcard &nbsp;
				|Post Cards
			li.tab(href="#brochures",data-toggle="tab"): a(href="#")
				i.icon-brochure
				|Brochures
			li.tab(href="#fundAppeals",data-toggle="tab"): a(href="#")
				i.icon-money
				|Fund Appeals
			li.tab(href="#christmas",data-toggle="tab"): a(href="#") 
				i.icon-gift
				|Christmas / Holiday
			li.tab(href="#thankYouCards",data-toggle="tab"): a(href="#")
				i.icon-heart
				|&nbsp;Thank You Cards
	div.tab-content.container
		div.tab-pane.fade.in.active#prayerLetters
			.container
				.col-md-6.col-sm-6
					div.icon-letter.icon-big
				.col-md-6.col-sm-6
					h2  Prayer Letters
					p Communicate effectively with your ministry partners through a monthly prayer letter. We offer many options of paper and envelopes. You may choose color or black &amp; white printing. We can print a standard letter size, legal size and booklets on 11 x 17 paper.
		div.tab-pane.fade#postCards
			.container
				.col-md-6.col-sm-6
					div.icon-postcard.icon-big
				.col-md-6.col-sm-6
					h2  Post Cards
					p Postcards are a great way to share a quick photo and update and stay in touch with ministry partners.  Postcards can be printed on any color of cardstock, including glossy white cardstock.
					p While the cost of cutting your postcards is built in, there is a $2 minimum cutting fee for less than 100 postcards.
				div.clearfix
		div.tab-pane.fade#brochures
			.container
				.col-md-6.col-sm-6
					div.icon-brochure.icon-big
				.col-md-6.col-sm-6
					h2 Brochures
					p We’re happy to print and fold as many or as few brochures as you need.  Brochures can be printed on any of our papers, including glossy paper.
				div.clearfix
		div.tab-pane.fade#fundAppeals
			.container
				.col-md-6.col-sm-6
					div.icon-money.icon-big
				.col-md-6.col-sm-6
					h2  Fund Appeals
					p At any time during the year we're happy to help with a fund appeal letter.  You can choose to send a general fund appeal to all of your partners or several different letters to several groups.  We are happy to mail-merge a greeting or other information.  We can include #9 response envelopes (with or without stamps) along with a response slip or Cru giving envelopes.
					p For mail merged letters we ask you to allow an extra day for processing.
					p If you're interested in sending an End-of-the-Year Ask, we ask you to contact us in early November. Since these orders are personalized, we suggest several weeks to allow for communication and processing of these letters to get them in the mail right around Thanksgiving. You may want to use themed papers/envelopes for this fund appeal letter, which require advanced planning.
					p We are able to help you with all or part of this process.  We are happy to mail any of the following items directly to you.  Prices reflect the cost of an item if ordered a al carte.
					ul 
						li Mail-merge a personalized greeting for each letter for $.11/letter
						li Print a set of mailing envelopes with the return address only or the return address and mailing address for $.13/envelope + cost for postage, if stamped.
						li Print a set of #9 response envelopes with your mailing address for $.09/envelope. If stamped, include the cost of postage.
						li Print a set of staff support envelopes with your name and account number for $.09/envelope. If stamped, include the cost of postage.
						li Print response cards for around $.09 each (for 3/sheet) with color printing or $.06 each (for 3/sheet) with b/w printing + $2.00 minimum charge for cutting.
						li Mail you a set of stamps at the current rate for 1st class postage.
						li Mail you a set of white or clear labels from your mailing list.
					p Please contact us to let us know how we can help you.
				div.clearfix
		div.tab-pane.fade#christmas
			.container
				.col-md-6.col-sm-6
					div.icon-gift.icon-big
				.col-md-6.col-sm-6
					h2  Christmas / Holiday
					p We are happy to mail Christmas letters or cards for you.  We can print a letter you create, print your text on a themed holiday paper or print your signature on a holiday card.
					p You'll need to purchase the paper/envelopes or cards on your end and mail them to us. You may find it easiest to order on-line and have the product shipped directly to us.
					p You will find a good selection at <a href="http://www.desktoppapers.com">Desktop Papers</a>. If you're mailing paper or cards to us we must have your letter and the cards/paper in our office the first week of December to guarantee we’ll be able to get these in the mail before Christmas.  Any letters we receive after this date may not reach ministry partners before Christmas.
					p We often recommend the Astrobright Gamma green and Re-entry red envelopes at this time of the year as these colors match many of the themed holiday letterhead.
					p During the months of November and December the turn-around time to get your order processed can be 3-4 days, rather than the typical 2 day turn-around time, especially if there are inserts or the letter is mail-merged.
					h3 Holiday inserts:
					p During the holidays you may want to include a family photo with your letter. We're happy to insert photos at any time. For the quickest turn-around time, we ask that you mail us the photos ready to be inserted. You can order these through a website, like Walmart, and have them mailed directly to our office. If this just isn't possible, we're happy to receive an emailed .jpg file from you and have the prints made locally.  Please allow 2-3 extra days to process your order.
					p 
					p We are happy to hand stamp religious or non-religious holiday stamps for these orders for an additional cost of $.02/letter.
		div.tab-pane.fade#thankYouCards
			.container
				.col-md-6.col-sm-6
					div.icon-heart.icon-big
				.col-md-6.col-sm-6
					h2 Thank You Cards
					p We are happy to print and mail Thank you cards to a select group of your ministry partners. We can also print the cards and mail them to you.  
					p You may prefer a larger card or a smaller card with your own photo and message.
		div.clearfix
		.jumbotron.start-orden
			.container#data
				.data.show(data-status='show',data-action="#prayerLetters")
					.col-md-6
						p The basic cost for a 1-sided, color letter includes: your choice of any of the Opaque, Astrobright, Astroparche or Royal Fiber colors of paper; a white mailing envelope; folding and inserting your letter, sealing the envelope and affixing a first class stamp.
					.col-md-6
						.col-md-6
							p 
								span.from FROM
								span $.97 /letter
						.col-md-6
							a.btn.btn-success(href='/order', role='button') START ORDER
				.data.hide(data-status='hide',data-action="#postCards")
					.col-md-6
						p Most commonly, you’ll choose a color photo on one-side and black &amp; white text on the other.
					.col-md-6
						.col-md-6
							p 
								span.from FROM
								span $.64/card
						.col-md-6
							a.btn.btn-success(href='/order', role='button') START ORDER
				.data.hide(data-status='hide',data-action="#brochures")
					.col-md-6.col-sm-6.col-xs-12
						p Most commonly, you’ll choose a two-sided, color brochure on glossy paper.
					.col-md-6.col-sm-6.col-xs-12						
							.col-md-6
								p
									span.from FROM 
									span $.46/brochure 
									| plus the cost of shipping
							.col-md-6
								a.btn.btn-success(href='/order', role='button') START ORDER				
				.data.hide(data-status='hide',data-action="#fundAppeals")
					.col-md-6.col-sm-6.col-xs-12
						p If we mail the order for you the average cost for a fund appeal letter is based on a one-sided, color, mail-merged letter printed on Opaque paper, mailed in a matching envelope, including a response envelope and response slip.
					.col-md-6.col-sm-6.col-xs-12
						.col-md-6
							p 
								span.from FROM
								span $1.28/letter
						.col-md-6
							a.btn.btn-success(href='/order', role='button') START ORDER
				.data.hide(data-status='hide',data-action="#christmas")
					.col-md-6.col-sm-6.col-xs-12
						.col-md-6
							p: strong Printing a one-side, color Christmas letter
							p: strong Printing your signature in a card
					.col-md-6.col-sm-6.col-xs-12
						.col-md-6
							p 
								span.from FROM
								span $.97/letter
							p 
								span.from FROM
								span $.88/card
						.col-md-6
							a.btn.btn-success(href='/order', role='button') START ORDER
				.data.hide(data-status='hide',data-action="#thankYouCards")
					.col-md-6.col-sm-6.col-xs-12
						.col-md-6
							p: strong The larger Thank You card
							p: strong The smaller Thank You card
					.col-md-6.col-sm-6.col-xs-12
						.col-md-6
							p 
								span.from FROM
								span $1.07/card
							p 
								span.from FROM
								span $.98/card
						.col-md-6
							a.btn.btn-success(href='/order', role='button') START ORDER
block js
	script(type='text/javascript')
		$(function(){ $('#tabs li').click(function (e) { e.preventDefault(); var href= $(this).attr('href'); $(this).tab('show'); $('#data .data').each(function(){ $el = $(this);var action = $el.attr('data-action'); $el.attr('data-status','hide').removeClass().addClass('data fade hide'); if(action==href){$el.attr('data-status','show').removeClass().addClass('data show');}}); });});