extends ../layouts/default

block content
	div.account: div.jumbotron: .container
		//- Sign In
		section.spacer
		div.panel
			section.spacer
			h1 You have been successfully signed out.
				.small Return to the 
					a(href="/") Home
					|&nbsp; page or 
					a(href="/sign-in") sign back in.
			section.spacer
		section.spacer
