extends ../layouts/default

block content
	div.jumbotron#about
		h2 File Upload Test
		span.small Testing file upload for XLS Parsing.
	.container
		form(enctype='multipart/form-data', method='post')
			div.file-wrapper#statusOne
				span.button Choose a File
				input(type='file', id='xlsFile', data-url='xlsFile', data-status='xlsFile', class='letterFile')
			button(class='btn btn-primary', type='submit') Post
		section.spacer


block js
	+fileUploads