.jumbotron#homepage {
    background: url("../images/main.png") transparent no-repeat;
    background-position: center bottom;
    padding: 100px 0;
    text-align: center;
    margin-bottom: 0px;
    .background-size(cover);
    & > .container > h2 {
        color: @blue;
        font-size: 70px;
        font-weight: 700;
        @media (max-width:480px) {
            font-size: 40px;
        }
    }
    & > .container > p {
        font-weight: 400;
        color: @blue;
        font-size: 22px;
        text-transform: initial;
        font-family: @font-family-sans-serif;
    }
    & > .container > .btn-pls-w {
        border: 0;
        border-radius: 3px;
        background-color: @orange;
        font-weight: 600;
        color: white;
        margin-top: 30px;
        padding: 15px 40px;
        text-align: center;
        font-size: 25px;
    }
}
 

.gray{
    margin-right: 0px;
    margin-left: 0px;
    background-color: @light-gray;
        .container{
            .row{
                margin-right: 0px;
                margin-left: 0px;
            }
        }
 }

.check{
    font-size:14px;
    padding-left: 5px;
    margin: 20px;
    background-image: url('../images/check.png');
    background-repeat: no-repeat;
    padding-left: 41px;
    text-align: left;
}

.c{
    height: 300px;
        @media (max-width:480px) {
            height: auto;            
        }
        .box{
            width: 258px;
            height: 158px;
            background-color: @light-gray;
            background-position: center center;
            background-repeat: no-repeat;
                span{
                    border-radius: 3px;
                    margin: 10px;
                    position: inherit;
                    background-color: white;
                    color:@blue;
                    font-weight: 700;
                    font-size: 14px;
                }
        }
        .b1{
            background-image: url('../images/a1.png');
        }     
        .b2{
            background-image: url('../images/a2.png');
        }
        .b3{
            background-image: url('../images/a3.png');
        }

        .arrow{
            width: 47px;
            height:  27px;
            background-image: url('../images/arrow.png');
            background-repeat: no-repeat;
            display: block;
            margin: 14px 0 135px 0;
            position: relative;           
            top: 45px;
                @media (max-width:480px) {
                    display: none;
                }   
        } 
        
        h4{    
            font-weight: 700;
            color: @other-blue;
            font-family: @font-family-sans-serif;
        }

        p{
            width: 258px;
            color: @other-blue;   
            font-family:@font-family-sans-serif;  
        }  
}

h1.h {
    padding: 0;
    border: none;
    border-top: 2px solid @other-blue;
    color: @other-blue;
    text-align: center;
    margin: 60px 0;
}

h1.h:after {
    content: "How It Works";
    display: inline-block;
    position: relative; 
    top: -0.7em;  
    font-size: 25px;
    padding: 0 2.25em;
    background: white;
    font-weight: 700;
    color: @other-blue;
}

h1.service {
    padding: 0;
    border: none;
    border-top: 2px solid @other-blue;
    color: @other-blue;
    text-align: center;
    margin: 60px 25px;
}
h1.service:after {
    content: "Our Services";
    display: inline-block;
    position: relative; 
    top: -0.7em;  
    font-size: 25px;
    padding: 0 2.25em;
    background: white;
    font-weight: 700;
    color: @other-blue;
}

.our-service{
    .col-lg-4{
        .row{
            .col-lg-9{
                h3{
                    font-weight: 700;
                    font-family: @font-family-sans-serif;
                    font-size: 16px;
                    margin-top: 26px;
                    color: #484848;
                }
            }
            .col-lg-12{
                p{
                    font-family: @font-family-sans-serif;
                    margin-top: 15px;
                    font-size: 14px;
                    color:@text-color;
                    line-height: 1.9;
                }
            }
        }
    }
}
.btn-pls-blue,{
<<<<<<< HEAD
    border: 3px solid @blue;
    border-radius: 2px;
    background-color: white;
    font-weight: 600;
=======
    border-radius: 3px;
    background-color: transparent;
    font-weight: 500;
>>>>>>> 5077dbcf767c3c51b027db90315c359b19faaf49
    color: @blue;
    border: 3px solid;
    padding: 10px;
    text-align:center;
<<<<<<< HEAD
    font-size: 23px;
    font-family: @font-family-sans-serif;
=======
    font-size: 20px;
>>>>>>> 5077dbcf767c3c51b027db90315c359b19faaf49
        @media (max-width:480px) {
            float: none;                    
            width: 100%;
            margin-top: 20px;
        }
        
}
.btn-pls-white,{
    border: 3px solid @orange;
<<<<<<< HEAD
    border-radius: 2px;
    background-color: @orange;
    font-weight: 600;
    color: white;
    padding: 10px;
    text-align: center;
    font-size: 23px;
    font-family: @font-family-sans-serif;
=======
    border-radius: 3px;
    background-color: @orange;
    font-weight: 500;
    color: white;
    padding: 10px;
    text-align: center;
    font-size: 20px;
    &:hover, &:active {
        border-color: darken(@orange, 10%);
        background: darken(@orange, 10%);
    }
>>>>>>> 5077dbcf767c3c51b027db90315c359b19faaf49
        @media (max-width:480px) {
            float: none;                    
            width: 100%;
            margin: 20px 0 0 0 !important;
        }
}

.f-right{
    float: right;
    margin-right: 10px;
        @media (max-width:480px) {
            margin-right: 0px;

        }
}

.f-left{
    float: left;
    margin-left: 10px;
}

.mtop50{
    margin-top: 75px;
}

.mbottom50{
  margin-bottom: 50px;
}
.hidden-arrow{
    visibility: hidden;
}
.p0{
    padding-left: 0;
}
.p1{
    padding: 0;
    margin: 0;
}
.jumbotron#testimonials {
    background-image: url(../images/background-testimonials.png);
    .background-size(cover);
}
.jumbotron > .container.testimonial {
    color: @blue;
    padding: 60px 0;
    h1 {
        color: @blue;
        font-size: 40px;
        font-weight: 600;
        margin-bottom: 70px;
        text-align: center;
    }
    .col-lg-4 {
        h3 {
            font-weight: 700;
        }
        small {
            font-size: 14px;
            position: relative;
            top: -10px;
        }
        div.info {
            margin-bottom: 20px;
        }
        div.quote {
            font-size: 16px;
            font-style: italic;
            font-weight: 500;
        }
        .portrait {
            border-radius: 50%;
            overflow: hidden;
            height: 80px;
            width: 80px;
            & > img {
                width: 100%;
            }
        }
    }
}
