
/*
 * Options Page
 */

.jumbotron#options{
	color: white;
	margin-bottom: 0;
	padding: 64px 100px;
	background: url('../images/pricing-banner.png') no-repeat;
	background-position: center bottom;	
	.background-size(cover);
	.container{
		margin-top: 80px;
	}	
	h1 {
		font-size: 55px;
		font-weight: 700;
		margin-bottom: 0;		
	}	
	p.small {
		font-size: 22px;
	}
}
.tabs-left{
	ul.tabs {
		display: table;
		list-style-type: none;
		padding: 0;
		min-width: 230px;
		& > li.tab {
			background: white;
			cursor: pointer;
			display: block;
			min-width:100%;
			float: left;
			clear: left;
			font-weight: 600;			
			padding: 20px 75px;
			text-transform: uppercase;
			background-repeat: no-repeat;
			border-left: 1px solid #e7e7e7;
			border-right: 1px solid #e7e7e7;
			border-bottom: 1px solid #e7e7e7;
			color: black;
			&:first-child {
				border-top: 1px solid #e7e7e7;				
			}
			&.active, &:hover, &:focus {
				background-color: @orange;
				& > a {
					color: #FFF;
				}
			}
			& > a {
				color: #373C42;
				&:hover {
					text-decoration: none;
				}
			}

		}
		li.tab {
			position: relative;
			color: black;
			font-weight: 600;		
			&.active {
				&:before {
					color: white;
				}
			}
		}
		.icon-printing{
			&:before {
				content: "\e604";
				margin-right: 10px;
				position: relative;
				top: 1px;
				left: -31px;
				font-size: 24px;
			}
			&:hover {
				&:before {
					color: white;
				}
			}
			& > a{
				display: inline-block;
				position: relative;
				left: -31px;
				top: -5px;
			}
		}
		.icon-postcards{
			&:before {
				content: "\e606";
				margin-right: 10px;
				position: relative;
				font-size: 17px;
				left: -30px;
				top: 15px;				
			}
			&:hover {
				&:before {
					color: white;
				}
			}
			& > a{
				display: inline-block;
				position: relative;
				top: -6px;
			}			
		}		
		.icon-discounts{
			&:before {
				content: "\e607";
				margin-right: 10px;
				position: relative;
				top: 1px;
				left: -33px;
				font-size: 24px;				
			}
			&:hover {
				&:before {
					color: white;
				}
			}
			& > a{
				display: inline-block;
				position: relative;
				left: -31px;
				top: -5px;
			}
		}		
		.icon-envelope{
			position: relative;			
			&:before {
				content: "\e602";
				font-size: 4px;
				position: relative;								
				font-size: 24px;
				left: -34px;
				top: 10px;
			}
			&:hover {
				&:before {
					color: white;
				}
			}
			& > a{
				display: inline-block;
				position: relative;
				left: 0px;
				top: -15px;
			}
		}
		.icon-fund{
			&:before {
				content: "\e600";
				font-size: 4px;
				position: relative;
				left: -30px;
				top: -9px;
			 
			}
			&:hover {
				&:before {
					color: white;
				}
			}
			& > a{
				display: inline-block;
				position: relative;					
			}
		}
		.icon-christmas{
			position: relative;
			&:before {
				content: "\e605";
				position: absolute;
				left: 39px;
				top: 1;
				font-size: 24px;
			}
			&:hover {
				&:before {
					color: white;
				}
			}
			& > a{
				display: inline-block;
				position: relative;
				left: 0px;
				top: 0px;
			}
		}
		.icon-insert{
			position: relative;
			&:before {
				content: "\e601";
				position: absolute;
				left: 39px;
				top: 14px;
				font-size: 24px;
			}
			&:hover {
				&:before {
					color: white;
				}
			}
			& > a{
				display: inline-block;
				position: relative;
				left: 0px;
				top: 0px;
			}
		}
		
		 
 	}
 	.bottom-0 { 
			padding-bottom: 0 !important;
	}
}
.tab-content{
	padding: 0;
	background-color: transparent;
		div.tab-pane{
			h1{
				font-weight: 700;
                font-family: @font-family-sans-serif;
                margin: 0px auto;
			}
			span.sub{
				font-size: 20px;
				font-weight: 300;				
				display: block;
				padding-bottom: 10px;
				width: 100%;
				border-bottom: 1px solid @dark-gray;
			}
			h3{
				margin-top: 50px;
				font-size: 18px;
				font-weight: 700;
			}
			p{
				color: @dark-gray;
				text-align: justify;
				line-height: 1.6;
				font-weight: 100;
			}
		}
		.btn-green{
			float: left;
			margin-top: 50px;
		}
}
.btn-success{
			border-radius: 3px;
			border: none;
			padding: 15px 40px;
			font-weight: 600;
			background-color: @green !important;
}
.mbottom140{
	margin-bottom: 140px;
}
@media (max-width:480px) {
	.tab-content{
		padding: 25px;
	}
	.tabs-left{
		ul.tabs {
			min-width: 100%;
			.icon-postcards{
				&:before {
					content: "\e606";
					margin-right: 10px;
					position: relative;
					font-size: 17px;
					left: -30px;
					top: 4px;			
				}								
			}
			.icon-envelope{
				position: relative;			
				&:before {
					content: "\e602";
					font-size: 4px;
					position: relative;								
					font-size: 24px;
					left: -34px;
					top: 10px;
				}				
				& > a{
					display: inline-block;
					position: relative;
					left: -19px;
					top: -4px;
				}
			}
		}
	}
}
@media (max-width:991px) {
	.tabs-left{
		ul.tabs {
			min-width: 100%;
			.icon-postcards{
				&:before {
					content: "\e606";
					margin-right: 10px;
					position: relative;
					font-size: 17px;
					left: -30px;
					top: 4px;			
				}	
				& > a {
					position: relative;
					left: -30px;
					top: 1px;
				}							
			}
			.icon-envelope{
				position: relative;			
				&:before {
					content: "\e602";
					font-size: 4px;
					position: relative;								
					font-size: 24px;
					left: -34px;
					top: 10px;
				}				
				& > a{
					display: inline-block;
					position: relative;
					left: -19px;
					top: -4px;
				}
			}
		}
	}
	.tab-content{
		padding: 25px;
	}
}  
 
