
/*
 * Options Page
 */

.jumbotron#options{
	color: white;
	margin-bottom: 0;
	padding: 64px 100px;
	background: url('../images/pricing-banner.png') no-repeat;
	background-position: center bottom;	
	.background-size(cover);
	.container{
		margin-top: 80px;
	}	
	h1 {
		font-size: 55px;
		font-weight: 700;	
	}	
	p.small {
		font-size: 22px;
	}
}
.tabs-left{
	ul.tabs {
		display: table;
		list-style-type: none;
		padding: 0;
		min-width: 230px;
		& > li.tab {
			background: white;
			cursor: pointer;
			display: block;
			min-width:100%;
			float: left;
			clear: left;
			font-weight: 600;			
			padding: 20px 50px;
			text-transform: uppercase;
			background-repeat: no-repeat;
			border-left: 1px solid #e7e7e7;
			border-right: 1px solid #e7e7e7;
			border-bottom: 1px solid #e7e7e7;
			color: black;
			i {
				font-size: 20px;
				position:  absolute;
				left: 20px;
				top: 15px;
				&.icon-envelope {
					left: 18px;
					top: 13px;
					font-size: 24px;
				}
				&.icon-plane {
					font-size: 18px;
					top: 18px;
				}
			}
			&:first-child {
				border-top: 1px solid #e7e7e7;				
			}
			&.active, &:hover, &:focus {
				background-color: @orange;
				& > a {
					color: #FFF;
				}
			}
			& > a {
				color: #373C42;
				&:hover {
					text-decoration: none;
				}
			}

		}
		li.tab {
			position: relative;
			color: black;
			font-weight: 600;		
			&.active {
				&:before {
					color: white;
				}
			}
			h1 {
				margin-bottom: 25px;
			}
		}
 	}
 	.bottom-0 { 
			padding-bottom: 0 !important;
	}
}
.tab-content{
	padding: 0;
	background-color: transparent;
		div.tab-pane{
			h1{
				font-weight: 700;
                font-family: @font-family-sans-serif;
                margin-bottom: 25px;
			}
			span.sub{
				font-size: 20px;
				font-weight: 300;				
				display: block;
				padding-bottom: 10px;
				width: 100%;
				border-bottom: 1px solid @dark-gray;
			}
			h3{
				margin-top: 50px;
				font-size: 18px;
				font-weight: 700;
			}
			p{
				color: @dark-gray;
				text-align: justify;
				line-height: 1.6;
				font-weight: 100;
			}
			ul,ol{
				margin: 25px 0;
				li{
					color: @dark-gray;
					margin: 10px 0;
					text-align: justify;
					line-height: 1.6;
					font-weight: 100;
					font-size: 17px;
				}
			}
		}
		.btn-green{
			float: left;
			margin-top: 50px;
			width: 347px;
		}
		.btn-success{
			border-radius: 3px;
			border: none;
			padding: 15px 40px;
			width: 364px;
			height: 57px;
			font-weight: 600;
			background-color: @green;
			font-size: 21px;
		}
}

.mbottom140{
	margin-bottom: 140px;
}
.mtop50{margin-top:50px;}
@media (max-width:480px) {
	.tab-content{
		padding: 25px;
	}
	.tabs-left{
		ul.tabs {
			min-width: 100%;
		}
	}
}
@media (max-width:991px) {
	.tabs-left{
		ul.tabs {
			min-width: 100%;
			.glyph-postCards {
				&:before {
					top: 0;
				}
			}
		}
	}
	.tab-content{
		padding: 25px;
	}
}  
@media (max-width:320px) {
	.tabs-left{
		ul.tabs {
		}
	}
}  

