/*
 * Printing Services Page
 */

.jumbotron#printing, .jumbotron#pricing {
	color: white;
	margin-bottom: 0;
	padding: 160px 0 100px;
	.background-size(cover);
	h1 {
		font-size: 55px;
		font-weight: 700;
		margin-bottom: 20px;
	}
	p.small {
		font-size: 22px;
	}
}
.jumbotron#printing {
	background: url('../images/printing-services-banner.png') no-repeat center;
	.background-size(cover);
}
.jumbotron#pricing {
	background: url('../images/pricing-banner.png') no-repeat center;
	.background-size(cover);
}
//Icon Tabs
.icon-prayer{
	&:before {
		content: "\e601";
		position: absolute;
		left: 30px;
		top: 15px;
		font-size: 24px;
	}
	&:hover {
		&:before {
			color: white;
		}
	}
}
.icon-postcards{
	&:before {
		content: "\e606";
		margin-right: 10px;
		position: relative;
		top: 1px;
	}
	&:hover {
		&:before {
			color: white;
		}
	}
}
.icon-brochure{
	&:before {
		content: "\e603";
		font-size: 16px;
		position: absolute;
		left: 30px;
	}
	&:hover {
		&:before {
			color: white;
		}
	}
}
.icon-funds{
	&:before {
		content: "\e600";
		font-size: 4px;
		position: relative;
		left: -25px;
		top: -10px;
		padding-left: 20px;
	}
	&:hover {
		&:before {
			color: white;
		}
	}
}
.icon-christmas{
	padding-left: 60px;
	position: relative;
	&:before {
		content: "\e605";
		position: absolute;
		left: 30px;
		top: 50%;
		margin-top: -7px;
		font-size: 16px;
	}
	&:hover {
		&:before {
			color: white;
		}
	}
}
.icon-big{	
	&:before {
		color: @orange;
		padding: 0;
		display: block;
		font-size: 250px !important;
		margin-top: -20px;
		text-align: center;
		position: inherit;
		top:inherit;
		left: inherit;
		right: inherit;
	}
	&:hover {
		&:before {
			color: @orange;
		}
	}
}
.icon-medium{
	position: inherit;
	text-align: center;
	&:before{
		font-size: 180px;
		color:@orange;
		position: inherit;
		text-align: center;

	}
	&:hover{
		color:@orange;
	}
}
.icon-small{
	position: inherit;
	text-align: center;
	&:before{
		font-size: 43px;
		color:@orange;
		position: inherit;
		text-align: center;

	}
	&:hover{
		color:@orange;
	}
}
// Tab Section
div.tab-container {
	background: @light-gray;
	text-align: center;
	ul.tabs {
		border-bottom: 1px solid #E7E7E7;
		display: table;
		list-style-type: none;
		margin: 0 auto;
		padding: 0;
		& > li.tab {
			background: white;
			border-right: 1px solid #E7E7E7;
			cursor: pointer;
			display: inline;
			float: left;
			font-weight: 600;
			margin: 0;
			padding: 20px 40px;
			text-transform: uppercase;
			background-repeat: no-repeat;
			background-position: 9px 18px;
			&:last-child {
				border-right: 0;
			}
			&.active, &:hover, &:focus {
				background-color: @orange;
				& > a {
					color: #FFF;
				}
			}
			& > a {
				color: #373C42;
				&:hover {
					text-decoration: none;
				}
			}

		}
		li.tab {
			position: relative;
			&.icon-brochure {
				padding-left: 55px;
			}
			&.icon-prayer {
				padding-left: 60px;
			}
			&.active {
				&:before {
					color: white;
				}
			}
		}	
		li.tab.icon-christmas {
			padding-left: 55px;
		}
		
	}
}
.tab-content{
	.tab-pane{
		.jumbotron{
			background: white;
			margin-bottom: 0px;
			padding-bottom: 0px;							
			.col-md-6,.col-sm-6{
				img{
					margin:10px auto;
					}
				h2 {
					text-align: left;
					font-weight: 600;
					line-height: 1.5;
					margin-top: 0px;			
				}
				p{
					margin-top: 30px;
					line-height: 1.5;
					text-align: left;
				}
				.iconLetters{
					 
				}
			}
		}		
	}
}

.start-orden{
	padding: 0 150px;
	background-color: white;
	margin-bottom: 75px;
	margin-top: 50px;
		@media (min-width:320px) and (max-width:992px) {
            padding: 10px;
       	}
		p {
			margin-bottom: 0;
			@media (min-width:320px) and (max-width:992px) {
		       text-align: center;
			}
		}		
		.container{
			background-color: @light-gray;
			border: 1px solid darken(@light-gray, 5%);
			padding: 20px;
			.row{
				.col-md-6{
					padding: 5px;
					.col-md-6{					
						p{
							font-size: 10px;
							margin-top: 10px;								
							span{
								font-size: 18px;
								font-weight: 600;
								&.from {
									position: relative;
									top: -2px;
									font-weight: initial;
									font-size: 11px;
									margin-right: 5px;
								}
							}
							@media (min-width:320px) and (max-width:992px) {
					          text-align: center;
					       	}
						}						
					}
				}
			}
		}
}
.btn-success{
			border-radius: 3px;
			border: none;
			padding: 15px 40px;
			font-weight: 600;
			background-color: @green;
}
@media (max-width:480px) {
	div.tab-container {
		ul.tabs {
			width: 100%;
			padding-left: 0px !important;			
			& > li.tab {
				float: left;
				display: inline-block;
				width: 100%;
			}
			.icon-prayer{
				&:before {
					left: 120px;
				}
			}
			.icon-brochure{
				&:before {
					left: 140px;
				}
			}
			.icon-christmas{
				&:before {
					left: 110px;
				}
			}
		}
	}
	
	.jumbotron#printing{
		background-position: -840px;
		margin-top: -9px;
	}
	#header{
		a.navbar-brand{
			padding: 0 12px;
		}
	} 
}
@media (max-width:390px) {
	div.tab-container {
		ul.tabs {
			width: 100%;
			padding-left: 0px !important;			
			& > li.tab {
				float: left;
				display: inline-block;
				width: 100%;
			}
			.icon-prayer{
				&:before {
					left: 70px;
				}
			}
			.icon-brochure{
				&:before {
					left: 90px;
				}
			}
			.icon-christmas{
				&:before {
					left: 60px;
				}
			}
		}
	}
	.jumbotron#printing{
		background-position: -840px 9px;
		h1 {
			text-align: center;
			font-size: 36px;
		}
	}
	.btn-success{
		margin-top: 15px;
	}
}
@media (min-width:320px) and (max-width:766px){
	div.tab-content{
		padding-bottom: 0px;
		div.tab-pane{
			div.jumbotron{
				padding: 0;
				.col-md-6,.col-sm-6{
					h2 {
						text-align: center;
					}				
				}				
			}
		}
	}
	.start-orden{
		padding-bottom: 0;
		margin-bottom: 35px;
	}
}
@media (min-width:768px) and (max-width:1199px){
	div.tab-container{
		.container{
			padding: 0;
			margin: 0 auto;
			width: 100%;
			ul.tabs{
				padding-left: 0px;
				li.tab{
					padding: 20px 22px;
				}
				.icon-prayer{
					&:before {
						content: "\e601";
						position: absolute;
						left: 9px;
						top: 14px;
						font-size: 24px;
					}
					a{
						position: relative;
						left: 15px;
					}
				}
				.icon-brochure{
					&:before {
						left: 10px;
					}
					a{
						position: relative;
						left: 10px;
					}
				}
				.icon-christmas{
					&:before {
						left: 10px;
					}
					a{				
						position: relative;
						left: 10px;
					}
				}
			}
			
		}
	}
}