/*
 * Printing Services Page
 */

.jumbotron#printing, .jumbotron#pricing {
	color: white;
	margin-bottom: 0;
	padding: 160px 0 100px;
	.background-size(cover);
	h1 {
		font-size: 55px;
		font-weight: 700;
		margin-bottom: 20px;
	}
	p.small {
		font-size: 22px;
	}
}
.jumbotron#printing {
	background: url('../images/printing-services-banner.png') no-repeat center;
	.background-size(cover);
}

// Tab Section
div.tab-container {
	background: white;
	text-align: center;
	ul.tabs {
		border-bottom: 1px solid #E7E7E7;
		display: table;
		list-style-type: none;
		margin: 0 auto;
		padding: 0;
		& > li.tab {
			background: white;
			border-right: 1px solid #E7E7E7;
			cursor: pointer;
			display: inline;
			float: left;
			font-weight: 600;
			margin: 0;
			padding: 20px 40px;
			text-transform: uppercase;
			&:last-child {
				border-right: 0;
			}
			&.active, &:hover, &:focus {
				background: @orange;
				& > a {
					color: #FFF;
				}
			}
			& > a {
				color: #373C42;
				&:hover {
					text-decoration: none;
				}
			}
		}
	}
}

.tab-content{
	.tab-pane{
		.container{
			.jumbotron{
				background: white;
				margin-bottom: 0px;
				padding-bottom: 0px;
				.container{
					.col-lg-6{
						img{
							margin:10px auto;
						}
						h2 {
							text-align: left;
							font-weight: 600;
							line-height: 1.5;
						}
						p{
							margin-top: 30px;
							line-height: 1.5;
							text-align: left;
						}
					}
				}
			}
		}
	}
}

.start-orden{
	padding: 0 150px;
	background-color: white;
	margin-bottom: 75px;
	margin-top: 50px;
		@media (max-width:480px) {
            padding: 10px;
       	}
		
		.container{
			background-color: @light-gray;
			padding: 20px;
			.row{
				.col-lg-6{
					.row{
						.col-lg-6{
							p{
								font-size: 10px;
								margin-top: 20px;
								span{
									font-size: 18px;
									font-weight: 600;
								}
							}
						}
					}
				}
			}
		}
}
.btn-green{
	border-radius: inherit;
	background-color: @green;
	border:none;
	padding: 10px 40px;
	font-weight: 600;
	margin-top:12px;
}