// This file can be used to override Bootstraps default CSS, as well as declare custom Variables, IE Colors, Font Sizes, etc.

// Primary Color Palette
@blue: #2F56A5;
@orange: #E46A32;
@green: #5BB139;
@light-gray: #EEF2F5;
@dark-gray: #737C85;


@font-size-base: 14px;
