extends /layouts/default

block body-contents
	h1 Hi *|first_name|*,
	p.text-larger A new order was just submitted to #{brand}:
	br
	|by <strong>#{enquiry.name.full}</strong>
	br
	p.text-muted Sent #{enquiry.submittedOn}
	p &nbsp;
	+button({ url: 'http://www.myletterservice.org/keystone/', label: 'Open Keystone' })
