@font-face {
  font-family: 'pls';
  src: url('../fonts/pls.eot?36806962');
  src: url('../fonts/pls.eot?36806962#iefix') format('embedded-opentype'),
       url('../fonts/pls.woff?36806962') format('woff'),
       url('../fonts/pls.ttf?36806962') format('truetype'),
       url('../fonts/pls.svg?36806962#pls') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'pls';
    src: url('../font/pls.svg?36806962#pls') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "pls";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-plane:before { content: '\e800'; } /* '' */
.icon-discount:before { content: '\e801'; } /* '' */
.icon-money:before { content: '\e802'; } /* '' */
.icon-letter:before { content: '\e803'; } /* '' */
.icon-gift:before { content: '\e804'; } /* '' */
.icon-envelope:before { content: '\e805'; } /* '' */
.icon-postcard:before { content: '\e806'; } /* '' */
.icon-brochure:before { content: '\e807'; } /* '' */
.icon-mailingList:before { content: '\e808'; } /* '' */
.icon-heart:before { content: '\e809'; } /* '' */