extends ../../layouts/alt

block content
	div.contact-list-home: div.jumbotron: .container
		div.title(style='position: relative;')
			span.icon.home
			h2 Mailing Lists
			h4(style='position: absolute; right: 0; top: 0;')
				a(href='/my-account') Edit My Account
		div.col-md-12.line
		div.col-md-12
			ul
				for list in lists
					li.box
						.col-md-12
							img(src='../images/list-name.png')
							h2= list.prettyName
							a.btn.btn-sm.btn-gray(href='/mailing-lists/' + list.slug) VIEW LIST
							a.btn.btn-sm.btn-green(href='/mailing-lists/' + list.slug + '?contact=add') ADD CONTACT
				li.box(data-toggle='modal', data-target='#newList')
					.col-md-12
						img(src='../images/circle-plus-big.png')
						h2.title ADD NEW LIST

		//- Modal for Creating new Mailing List
		.modal.fade(tab-index='-1', role='dialog', aria-labelledby='newList', aria-hidden='true', id='newList')
			.modal-dialog.modal-sm: .modal-content: form(method="post", action='/mailing-lists', id='listForm', enctype='multipart/form-data')
				.modal-body
					button.close(type="button", data-dismiss="modal")
						span(aria-hidden="true") &#215;
						span.sr-only Close
					h3 Create New Mailing List
					if errors
						.form-group
							.alert.alert-danger
								| Please complete all fields before continuing.
					.form-group(class=(errors != null ? 'has-error' : null)).clearfix
						input(type='hidden', name='userID', value=user.id)
						//- input(type='hidden', name='csvJSON')
						input(type='hidden', name='name', value=user.name.full)
					.form-group(class=(errors != null ? 'has-error' : null)).clearfix
						label(for='listName') Name Your Mailing List*
						input(name='listName', type='text', class='form-control')
					.form-group.clearfix
						input(name='xlsFile', type='file', class='form-control', id='csv')
					small *Please make sure your mailing list is a .CSV file. Most applications allow you to export your list as a CSV. Click <a href="#" data-toggle="modal" data-target="#instructions">here</a> for information on how to do this.
				.modal-footer
					button.btn.btn-default(type="button", data-dismiss="modal") Cancel
					button.btn.btn-primary(type="submit") Create List

		//- Modal for Instructions
		.modal.fade(id='instructions')
			.modal-dialog
				.modal-content
					button.close(type="button", data-dismiss="modal")
						span(aria-hidden="true") &#215;
						span.sr-only Close
					.modal-body
						h3 Converting #{fileType} to CSV.
						ol
							li Open your excel file.
							li Click on File and Save as.
							li Select where you would like to save the file (like your desktop or a drive).
							img(src='https://www.completecampaigns.com/webhelp/Files/How_to_convert_an_existing_Excel_file_files/image001.jpg', class='img-responsive')
							li In the File Name area, name your document.
							li In the Save as Type area, select CSV(Comma Delimited) from the pull down menu.
							img(src='https://www.completecampaigns.com/webhelp/Files/How_to_convert_an_existing_Excel_file_files/image002.jpg', class='img-responsive')
							li Click Save.
							li You may receive one or two warnings about the formatting of .CSV, click yes.
					.modal-footer
						button.btn.btn-default(type="button", data-dismiss="modal") Thanks!

block js
	if errors
		script.
			$('#newList').modal();
	//- script.
		$('button[type="submit"]').click(function() {
			var $this = $(this);
			event.preventDefault();
			// Parse local CSV files
			$('input#csv').parse({
				config: {
					header: true,
					complete: function(results) {
						var str = JSON.stringify(results.data),
							str = str.replace(/first.? ?name/ig, "firstName"),
							str = str.replace(/last.? ?name/ig, "lastName"),
							str = str.replace(/(street|address) ?(1|one)/ig, "address1"),
							str = str.replace(/street|address ?2|two/ig, "address2"),
							str = str.replace(/street|address ?3|three/ig, "address3"),
							str = str.replace(/city|town|county/ig, "city"),
							str = str.replace(/state|province/ig, "state"),
							str = str.replace(/zip|postal ?code/ig, "zip");
							//- str = str.replace(/"/g, "'");
						$this.prop('disabled', true).html('<i class="fa fa-spinner fa-spin"></i>');
						$('input[name="csvJSON"').val(str).trigger('change');
						//- $.each(results.data, function(key, value) {
						//- 	var keys = Object.keys(value);
						//- 	$('pre#json').append(value["TITLE"] + '<br>');
						//-     console.log(value["TITLE"], keys);
						//- });
					}
				}
			});
			$('input[name="csvJSON"').change(function() {
				document.getElementById('listForm').submit();
			});
		});
