extends ../../layouts/default

block content
	+orderTabs
	div.tab-content.order-process
		//- Home Tab, select mailer type.
		div.tab-pane.fade.in.active
			.container: .jumbotron: .row
				if user
					.col-md-8
						h1 What would you like to order?
						ul.mailers
							li: a(href="/order/process?mailer=prayerLetter") Prayer Letter
							li: a(href="/order/process?mailer=postcards") Postcards
							li: a(href="/order/process?mailer=brochures") Brochures
							li: a(href="/order/process?mailer=fundAppeal") Fund Appeal
							li: a(href="/order/process?mailer=thankYou") Thank You Cards
							li: a(href="/order/process?mailer=christmasLetter") Christmas Letters
					.col-md-4
						h2 You are logged in as #{user.name.first}.
							.small Not #{user.name.first}? &nbsp;
								a(href="/sign-out") Sign Out.
						section.spacer
				else
					.col-md-8
						.noUser.clearfix
							p You must be logged in to continue.
						h1 What would you like to order?
						ul.mailers
							li Prayer Letter
							li Postcards
							li Brochures
							li Fund Appeal
							li Thank You Cards
							li Christmas Letters
					.col-md-4
						ul.nav.nav-tabs(role="tablist", id="orderSignInTabs")
							li.active: a(href="#signIn", role="tab", data-toggle="tab") Sign In
							li: a |
							li: a(href="#register", role="tab", data-toggle="tab") Register
						div.tab-content.panel
							div.tab-pane.fade.in.active#signIn
								if locals.formError
									div.alert.alert-danger Sorry, that email and password combination was invalid.
								form(method="post", action="sign-in")#account
									input(type='hidden', name='target', value='order')
									input(type='hidden', name=csrf_token_key, value=csrf_token_value)
									.form-group.clearfix
										.col-md-12
											label(for="email") Email Address
											input(name="email", class="form-control", placeholder="janedoe@cru.org")
									.form-group.clearfix
										.col-md-12
											label(for="password").block Password
												.pull-right: a(href="/forgot-password") Forgot Password?
											input(name="password", class="form-control", placeholder="••••••", type="password")
									.form-group.clearfix#formFooter
										.col-md-12
											button(type="submit").btn.btn-primary.center Start Order Now
											hr
										#socialConnect
											div.facebook
												span Facebook Login
											div.linkedIn
												span LinkedIn Login
							div.tab-pane.fade#register
								form(method="post", action="/register")#account
									input(type='hidden', name='target', value='order')
									input(type='hidden', name='action', value='register')
									.form-group.clearfix
										.col-md-6
											label(for="f_name") First Name
											input(name="f_name", class="left form-control", placeholder="Jane")
										.col-md-6
											label(for="l_name") Last Name
											input(name="l_name", class="right form-control", placeholder="Doe")
									.form-group.clearfix
										.col-md-12
											label(for="email") Email Address
											input(name="email", class="form-control", placeholder="janedoe@cru.org")
									.form-group.clearfix
										.col-md-6
											label(for="password") Password
											input(name="password", class="left form-control", placeholder="••••••", type="password")
										.col-md-6
											label(for="confirm_pass") Confirm Password
											input(name="confirm_pass", class="right form-control", placeholder="••••••", type="password")
									.form-group.clearfix#formFooter
										.col-md-12
											button(type="submit").btn.btn-primary.center Start Order Now
											hr
										#socialConnect
											div.facebook
												a(href="/auth/facebook"): span Facebook Login
											div.linkedIn
												a(href="/authz/linkedin"): span LinkedIn Login
block js
	+fileUploads