extends ../../layouts/default

block content
	+orderTabs
	div.tab-content.order-process
		div.tab-pane.fade.in.active#confirmation
			.container: .jumbotron
				.col-md-12
					div.box-finish
						div
							span.fa-stack
								i.fa.fa-stack-2x.fa-circle-o
								i.fa.fa-stack-1x.fa-check
							div.clearfix
						div
							h2 Your Submission Was Sucessful!
							p You will receive an email from The Prayer Letter Service, confirming we have all the information we need to process your order, within the next business day.  Please contact us if you don’t receive this email.
						div
							a(href="/order").btn.btn-success START ANOTHER ORDER
							div.clearfix
							a(href="/").btn.btn-success.btn-boder-green BACK TO HOME
				.row
					.col-md-12
						.line-0.visible-lg-block
block js
	+fileUploads