extends ../../layouts/default

block content
	.jumbotron#order: .container
		h1 Let's Get Your Order <br> To The Presses!
		p.small Use the form below to submit your order and we'll get to work.
	div.tab-container: .container
		ul.tabs.order#tabs
			a(href="/order/process?mailer="+sessionType+"#letterDetails"): li(class=(tabID === 'letterDetails' ? 'active tab' : 'tab')): span Letter Details
			a(href="/order/process?mailer="+sessionType+"#mailingList"): li(class=(tabID === 'mailingList' ? 'active tab' : 'tab')): span Mailing List
			a(href="/order/process?mailer="+sessionType+"#returnAddress"): li(class=(tabID === 'returnAddress' ? 'active tab' : 'tab')): span Return Address
			li(class=(tabID === 'summary' ? 'active tab' : 'tab')): span Summary
			li(class=(tabID === 'confirmation' ? 'active tab' : 'tab')): span Confirmation
	div.tab-content.order-process
		div.tab-pane.fade.in.active#confirmation
			.container: .jumbotron
				.col-md-12
					div.box-finish
						div
							span.fa-stack
								i.fa.fa-stack-2x.fa-circle-o
								i.fa.fa-stack-1x.fa-check
							div.clearfix
						div
							h2 Your Submission Was Sucessful!
							p You will receive an email from The Prayer Letter Service, confirming we have all the information we need to process your order, within the next business day.  Please contact us if you don’t receive this email.
						div
							a(href="/order").btn.btn-success START ANOTHER ORDER
							div.clearfix
							a(href="/").btn.btn-success.btn-boder-green BACK TO HOME
				.row
					.col-md-12
						.line-0.visible-lg-block
block js
	+fileUploads