extends ../../layouts/default

block content
	+orderTabs
	div.tab-content.order-process
		div.tab-pane.fade.in.active#mailingList
			.container: .jumbotron(style='background-color: transparent;'): form(action="/return-address", method="post")
				.row
					.col-md-12.col-sm-12
						h2 
							| Select A List To Mail To
							span *
					.col-md-12.col-sm-12
						span.fa-stack.fa-lg.checkbox
							i.fa.fa-square.fa-stack-2x
							i.fa.fa-check.fa-stack-1x.fa-inverse
						//- input(name="rememberMe", type="checkbox")
						label(for="rememberMe") Please use the complete mailing list you keep on file
					.col-md-12.col-sm-12
						ul.boxes
							for list in lists
								li.box
									.col-md-12
										img(src='../images/list-name.png')
										h2= list.listName
										h5
											span#Count= Object.keys(JSON.parse(list.csvJSON)).length
											span &nbsp;Contacts in this list
										a.btn.btn-sm.btn-green(name='listOption', data-value=list.listName) Select This List
						select(name='list', class='form-control', class='hide')
							for list in lists
								option(value=list.listName)= list.listName
				.row
					.col-md-12
						p I will attach my current mailing list
						div.file-wrapper
							span.button Choose a File
							input(type='file')
						if mailerType === 'christmasLetter'
							br
							input(type='checkbox', name='oneTime')
							label(for='oneTime') This is a one time mailing list for this order only.
					.col-md-12
						.line-0.visible-lg-block
				.row
					.col-md-12
						a(href="/order").btn.btn-success.btn-boder-green.pull-left Start Over
						button(type="submit").btn.btn-success.pull-right Continue
block js
	+fileUploads
	script.
		$('a[name="listOption"]').each(function() {
			$(this).click(function() {
				$this = $(this);
				var selected = $this.attr('data-value');
				$this.text('Selected').parent().parent().addClass('selected').siblings('li').removeClass('selected').find('a[name="listOption"]').text('Select This List');
				$('select[name="list"]').val(selected);
			});
		});